* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Comic Neue", cursive;
  }
  
  .barra {
    background-color: rgb(245, 203, 239);
    height: 100%;
  }
  
  /* Estilos normales para los enlaces */
  .barra a.nav-link {
    color: black;
    text-decoration: none;
    height: 100%;
  }
  
  /* Estilos cuando se pasa el cursor sobre los enlaces */
  .barra a.nav-link:hover {
    color: rgb(212, 0, 255); /* Cambia el color al pasar el cursor */
    text-decoration: underline; /* Puedes subrayar el enlace */
    height: 100%;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
  }
  
  .logo {
    width: 15rem;
  }
  
  .fondo {
    width: 25rem;
  }
  
  .iconos {
    display: flex;
    align-items: center;
    margin-right: 5rem;
    flex-direction: row-reverse;
  }
  
  .icono {
    width: 2rem;
    cursor: pointer;
    margin: 0 1.5rem;
  }
  
  .navbar-brand {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin-left: 40%;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .socialsB {
    padding-top: 1rem;
    margin-right: 10rem;
    cursor: pointer;
    display: flex;
  }
  
  .container-fluid {
    background-color: rgb(245, 203, 239);
  }
  #container {
    display: flex;
    justify-content: space-around;
  }
  
  .text-body-secondary {
    text-decoration: none;
    text-align: center;
    font-size: medium;
  }
  .text-body-secondary:hover {
    text-decoration: none;
    background-color: rgb(212, 0, 255);
  }
  
  .quienesSomos{
    text-align:center;
    font-size:1rem;
  }
p{
   backgr
}











 
  
  footer {
    display: flex;
    background-color: rgb(245, 203, 239);
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  
  .socialsF {
    display: flex;
    justify-content: center;
  }
  
  .socialsF li {
    margin: auto 10px;
  }
  
  ul li {
    text-align: center;
    list-style: none;
  }
  .logoFinal {
    whith: 10rem;
    height: 10rem;
  }
  